<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="pisoHome.css">
</head>
<body>
    <nav><img src="logo.png" alt="" srcset=""></nav>
    <div class="container">
        <div class="form_container">
            <div id="messages_time">
                <% for(var i = 0; i < messages.length; i++) {%>
                    <%if (messages[i].secretMessage) {%>
                        <div class='message_container'>
                            <div class='message'><%=messages[i].secretMessage%></div>
                        </div>
                    <%}%>    
                <%}%>
            </div>
            <form class="post_container" action="/insertMessage" method="POST">
                <div class="post_content" ><input id="post_content" type="text" name="secretMessage" placeholder="Say something..."></div>
                <!--href="javascript:doSomething"-->
                <div><button type="submit">POST</button></div>         
            </form>
        </div>
    </div>
    <script src="pisoHome.js"></script>
</body>
</html>